* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    background-color: black;
}

#tit-header, #tit-footer {
    background-color: brown;
    color: white;
    text-align: left;
    padding-left: 10px;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
}

nav a {
    padding: 5px;
}
footer {
    padding-bottom: 10px;
}

main {
    background-color: white;
    color: black;
    text-align: justify;
    padding: 50px;
}

main img {
    width: 400px;
}

section {
    height: 400px;
    width: 400px;
}


